<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body">
            ------{{theNewServer}}/////////
                <form role="form">
                    <div clas s="form-group">
                      <label  for="name">Name</label>
                      <input  ng-model="theNewServer.name" type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                      <label for="ip">IP</label>
                      <input ng-model="theNewServer.ip" type="text" class="form-control" id="ip">
                  </div>
                  <div class="checkbox">
                      <label>
                          <input ng-model="theNewServer.status" type="checkbox"> Status
                      </label>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
              

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="salvame()">Save changes</button>
        </div>
    </div>
</div>
</div>