<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group" ng-show="drop.id">
                        <label  for="id">ID</label>
                        <input  ng-model="drop.id" type="text" class="form-control" id="id" ng-disabled="true">
                    </div>
                    <div clas s="form-group">
                        <label  for="name">Name</label>
                        <input  ng-model="drop.name" type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="ip">IP</label>
                        <input ng-model="drop.ip" type="text" class="form-control" id="ip">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input ng-model="drop.status" type="checkbox"> Status
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save(drop)">Save changes</button>
            </div>
        </div>
    </div>
</div>