<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>name:</th>
            <th>Ip</th>
            <th>Locked</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="drop in droplets">
            <td>{{drop.id}}</td>
            <td>{{drop.name}}</td>
            <td>{{drop.ip_address}}</td>
            <td>{{drop.locked}}</td>
            <td><span class="label" ng-class="{ 'label-success' : drop.status == 'active', 'label-danger' : drop.status != 'active' }">{{drop.status}}</span></td>
            <td>
                <button type="button" class="btn btn-sm btn-primary"
                        data-animation="am-flip-x"
                        bs-dropdown="dropdown">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="row marketing">
    <h4>Ejemplo de uso de API Digital Ocean</h4>
    <p>
        Esta es una mini App Web que demuestra la utilizacion de AngulaJS utilizando servicios RESTFul
    </p>
</div>
